@import '../variables.css';

.Voting {
	&__btn {
		width: 49.9%;
		height: 100vh;
	}

	&__winner {
		height: 100vh;
		background-color: #9b59b6;
		color: white;
		padding-top: 80px;
		font-size: 2em;
		text-align: center;
		.Results & {
			background-color: $results-bg;
		}
	}

}

.VotingBtn {
	position: relative;
	background-color: $button-bg;
	border: none;
	color: white;
	font-size: 3em;
	vertical-align: top;
	transition: background-color .2s;
	&:hover {
		background-color: $button-bg-hover;
	}
	&:active {
		background-color: transparent;
		color: #333;
	}
	&:last-child {
		margin-left: .2%;
	}
	&[disabled] {
		&, &:hover {
			background-color: $button-bg-disabled;
		}
	}
	&__subtitle {
		position: absolute;
		left: 0;
		top: calc(50% + .2em);
		width: 100%;
		text-align: center;
		color: rgba(150,150,150,.5);
		font-size: 1.8em;
		margin-top: 10px;
	}
}
